/* ===============================
   Cores e fontes
=============================== */
:root {
  --laranja: #FFA129;
  --branco: #F5F7FE;
  --azul: #416EFF;
  --font-principal: 'ABeeZee', sans-serif;
  --font-secundaria: 'Bakbak One', sans-serif;
}

/* ===============================
   Navbar
=============================== */
nav.navbar {
  min-height: 100px;
  background-color: var(--laranja);
  display: flex;
  align-items: center;
  justify-content: center;
}

button.navbar-toggler{
  color: orange ;
}

/* Remove completamente borda, radius, sombra e animações do botão do menu */
.navbar-toggler {
    border: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
}


/* Logo */
a.navbar-brand {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.navbar-brand img {
  max-height: 100%;
}

/* UL do menu (desktop) */
#navbarSupportedContent .navbar-nav {
  display: flex;
  justify-content: center;  /* centraliza horizontalmente */
  align-items: center;
  margin: 0 auto;
}

/* LI */
#navbarSupportedContent .nav-item {
  margin: 0 10px;
  border-radius: 5px;
}

/* Links (A) */
#navbarSupportedContent .nav-link {
  font-family: var(--font-principal);
  font-size: 16px;
  color: black;
  padding: 10px 15px;
  transition: transform 0.3s, color 0.3s;
}

/* Hover (desktop) */
#navbarSupportedContent .nav-link:hover {
  transform: scale(1.2);
  color: var(--laranja);
}

/* ===============================
   Carousel
=============================== */
div.carousel-item {
  width: 100%;
  height: 85vh;
}

div.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
